{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-dark my-2 my-sm-0 add-btn update-cart" type="submit">Add To Cart</button>
                <a class="btn btn-outline-dark my-2 my-sm-0">View</a>
                <h4 style="display: inline-block; float: right;">${{product.price|floatformat:0}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}